<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="InforCommon" value="https://cpqtfsweb.infor.com/TDCIDev/_packaging/InforCommon/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="InforCommon">
      <package pattern="LibGit2Sharp.NativeBinaries" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>